.gallery-container {
    padding: 20px;
    background-color: #0d1b2a; /* Dark blue background for better contrast */
}

.gallery-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.square-placeholder {
    width: 100%; /* Make placeholder square */
    padding-top: 100%; /* Creates a square ratio */
    position: relative;
    background-color: #2b2d42;
    border-radius: 8px;
}

.placeholder-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}
